<!--    Informations concernant le ALL-->
<div class="container-fluid">
  <div class="container">
    <div class="row" style="text-align: center">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="titre">
          <h4>ADRESSE :</h4>
        </div>
        <p class="info">
          All
          <br>
          <a href="https://goo.gl/maps/1Mhk8jH7hM3v3bnN6" ngbTooltip="Lien vers Google Maps" target="_blank">
            47 Boulevard
            Vauban, 59800 Lille</a>
        </p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="titre" id="logement">
          <h4>SERVICE LOGEMENT</h4>
        </div>
        <p class="info">
          <a href="tel:03.20.15.97.78" ngbTooltip="Appeler le service logement"
             target="_blank">03.20.15.97.78</a>
          <br>
          <a href="mailto:contact@all-lacatho.fr" ngbTooltip="Envoyer un mail au service logement"
             target="_blank">contact@all-lacatho.fr</a>
        </p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="titre" id="technique">
          <h4>SERVICE TECHNIQUE</h4>
        </div>
        <p class="info">
          <a href="tel:03.20.15.97.77" ngbTooltip="Appeler le service technique"
             target="_blank">03.20.15.97.77</a>
          <br>
          <a href="mailto:servicetechnique@all-lacatho.fr" ngbTooltip="Envoyer un mail au service technique"
             target="_blank">servicetechnique@all-lacatho.fr</a>
        </p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="titre">
          <h4> HORAIRES</h4>
        </div>
        <p class="info">
          Lundi - Vendredi : 8H30 - 18H
          <br>
          Samedi - Dimanche : Fermé
        </p>
      </article>
    </div>
  </div>
</div>
