<!--    Liens vers les différents sites du all ainsi que vers le groupe facebook de la résidence-->
<div>
  <ul class="bulles">
    <li>
      <a href="https://www.facebook.com/groups/sto.2020.2021"
         ngbTooltip="Lien vers le groupe facebook de la résidence" target="_blank">
        <img class="media-bar" src="./assets/image/facebook_res.png" alt="Facebook de la résidence">
      </a> &nbsp;
      <a href="https://www.all-lacatho.fr/fr/" ngbTooltip="Lien vers le site du ALL" target="_blank">
        <img class="media-bar" src="./assets/image/all.png" alt="Site du ALL">
      </a> &nbsp;
      <a href="https://www.facebook.com/Alldelacatho/" ngbTooltip="Lien vers le compte facebook du ALL"
         target="_blank">
        <img class="media-bar" src="./assets/image/facebook_all.png" alt="Facebook du ALL">
      </a> &nbsp;
      <a href="https://www.instagram.com/alldelacatho" ngbTooltip="Lien vers le compte instagram du ALL"
         target="_blank">
        <img class="media-bar" src="./assets/image/instagram.png" alt="Instagram du ALL">
      </a> &nbsp;
      <a href="https://www.linkedin.com/company/all-lacatho"
         ngbTooltip="Lien vers le compte linkedin du ALL" target="_blank">
        <img class="media-bar" src="./assets/image/linkedin.png" alt="Linkedin du ALL">
      </a>
    </li>
  </ul>
</div>
