/* pour gérer la barre des réseaux sociaux */
.media-bar {
  height: 5%;
}

.bulles {
  position: relative;
  padding-left: 0;
}

/* permet d'enlever les points d'une liste  */
li {
  list-style: none;
  text-align: center;
}
