<!--Liste des émojis : https://www.w3schools.com/charsets/ref_emoji.asp -->
<!-- https://icones8.fr/icons -->
<p> &nbsp; 💖 Nouveautés : Ajout d'informations concernant les restos U 🤤 </p>
<br>
<p> &nbsp; Pour afficher les informations recherchées, il vous suffit de cliquer sur le bouton correspondant ⬇ </p>
<br>

<!--ajout de la barre lien-->
<h5> &nbsp; Liens 📝 </h5>
<div id="liens">
  <div ngbRadioGroup class="btn-group btn-group-toggle btn-block" name="Liens">
    <label ngbButtonLabel class="btn btn-secondary" id="laverie">
      <input ngbButton type="radio"> Plannings
    </label>
    <label ngbButtonLabel class="btn btn-secondary" id="ucopia">
      <input ngbButton type="radio"> Ucopia
    </label>
  </div>

  <div id="div_liens">
  </div>
</div>

<section></section>

<!--ajout de la barre infos en 2 lignes-->
<h5> &nbsp; Infos 📣 </h5>
<div id="infos">
  <div ngbRadioGroup class="btn-group btn-group-toggle btn-block" name="Liens">
    <label ngbButtonLabel class="btn btn-secondary" id="responsables">
      <input ngbButton type="radio"> Les responsables
    </label>
    <label ngbButtonLabel class="btn btn-secondary" id="evenements">
      <input ngbButton type="radio"> Événements
    </label>
    <label ngbButtonLabel class="btn btn-secondary" id="covid">
      <input ngbButton type="radio"> COVID
    </label>
  </div>

  <div ngbRadioGroup class="btn-group btn-group-toggle btn-block" name="Liens">
    <label ngbButtonLabel class="btn btn-secondary" id="petit_dej">
      <input ngbButton type="radio"> Le petit déjeuner
    </label>
    <label ngbButtonLabel class="btn btn-secondary" id="5eme">
      <input ngbButton type="radio"> La salle loisir
    </label>
    <label ngbButtonLabel class="btn btn-secondary" id="colis">
      <input ngbButton type="radio"> Colis
    </label>
  </div>

  <div ngbRadioGroup class="btn-group btn-group-toggle btn-block" name="Liens">
    <label ngbButtonLabel class="btn btn-secondary" id="ru">
      <input ngbButton type="radio"> Le Restaurant Universitaire
    </label>
  </div>

  <div id="div_infos">

  </div>
</div>
